In [1]:
import pandas as pd
ser = pd.Series([100, 200, 300, 400, 500], index = ['tom', 'bob', 'nancy', 'dan', 'eric'])

In [2]:
ser

tom      100
bob      200
nancy    300
dan      400
eric     500
dtype: int64

In [3]:
ser[[0,1]]

tom    100
bob    200
dtype: int64

In [6]:
ser.iloc[[0,1]]

tom    100
bob    200
dtype: int64

In [7]:
ser[['tom','bob']]

tom    100
bob    200
dtype: int64

In [8]:
ser.loc[['tom','bob']]

tom    100
bob    200
dtype: int64

In [20]:
ser.describe()
filter = ser['tom']>100
filter.any()

False

In [21]:
d = {'one' : pd.Series([100.,200.], index=['apple','orange']),
    'two' : pd.Series([111.,211], index=['apple','orange'])}
df = pd.DataFrame(d)
filter = df['one']>100
filter.any()

True

In [28]:
df.isnull().any()

one    False
two    False
dtype: bool

In [23]:
print(d)

{'one': apple     100.0
orange    200.0
dtype: float64, 'two': apple     111.0
orange    211.0
dtype: float64}

In [26]:
d['one'], d['two']

(apple     100.0
 orange    200.0
 dtype: float64, apple     111.0
 orange    211.0
 dtype: float64)